 body {
      background: rgb(94, 94, 94);
      background-image: url("img/tile_background.jpg");
      /* background-image: linear-gradient(to bottom, rgba(90, 60, 0, 0.52), rgba(0, 0, 0, 0.73)), url("img/tile_background.jpg"); */
      background-position: bottom;
      background-repeat: repeat;
      background-attachment: fixed;
    }
    p, ul, FORM{
      border-radius: 4px;
      background: rgba(20, 20, 20, 0.7);
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
      color: white;
      width: 678px;
      margin: 15px auto;
	  padding: 12px;
      border: 0 solid black;
      font-family: "Roboto", sans-serif;
	  font-size: 14px;
	  line-height: 16pt;
    }


span,  a:link {
    text-decoration: none;
    color: yellow;
  }

a:visited {
    text-decoration: none;
    color: orange;
  }

 a:hover {
    text-decoration: none;
    color: white;
  }

a:active {
    text-decoration: underline;
    color: white;
  }

    h1 {
      color: #FFD700;
      margin: 15px auto;
      text-align: center;
      width: 700px;
      font-family: "Questrial", sans-serif;
	  font-size: 17px;
    }

    h2 {
      color: yellow;
      margin: 15px auto;
      text-align: center;
      width: 700px;
      text-shadow: 2px 2px #000;
      font-family: "Roboto", sans-serif;
    font-size: 17px;
    }

    .center {
      display: block;
      width:700px;
	  margin: 15px auto;
	  border: 2px solid black;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
    }

    .container {
  position: relative;
  text-align: center;
  color: black;
}

/* Add a black background color to the top navigation */
.topnav {
  border-radius: 4px;
  background: rgba(20, 20, 20, 0.8);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
  overflow: hidden;
  width:700px;
  margin: 12px auto;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: orange;
  text-align: center;
  padding: 8px 16px;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 22px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: orange;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: black;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FFD700;
  font-family: "Questrial", sans-serif;
  font-size: 24px;
  text-shadow: 3px 3px #000;
  letter-spacing: 7px;
}

hr{
  border-top: 1px double #000;
  width: 700px;
}

span.b {
  display: inline-block;
  width: 320px;
  margin-left: 2px;
  color: white;
}

span.c {
  display: inline-block;
  vertical-align:top;
  width: 350px;
  text-align: right;
  color: white;
}

img{
  border-radius: 4px;
}